@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body {
	font-family: 'Playfair Display', serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  padding: 70px;
  margin-bottom: 30px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

h1 {
  font-family: 'Playfair Display', serif;
}

h5 {
  color: black;
}

.figure-list {
  min-height: 100vh;
}

.card {
  margin: 15px;
  display: inline-flex;
  width: 350px;
  height: 350px;
  box-shadow: 2px 2px 7px #282c34;
}

.text-shadow {
	text-shadow: 2px 2px 2px #000000;
}

.figure-img {
	height: 350px;
	padding: 10px;
}